@import "css3mixin";
// SCSS global vars
$total-width: 960px;
$gutter-width: 10px;
$grid-width: $total-width / 12 - ($gutter-width * 2);

/* reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
:focus{outline: 0;}
/* end reset css */

/* base css */
body{background: #000; font:0.75em/1.333em arial, sans-serif; color: #fefefe;}
	/* headers */
	h1, h2, h3, h4, h5, h6{font-weight: bold;}
	h1{font-size: 2em; margin-bottom: 0.625em;}
	h2{font-size: 1.5em; margin-bottom: 0.833em;}
	h3{font-size: 1.333em; margin-bottom: 0.938em;}
	h4{font-size: 1.167em; margin-bottom: 1.071em;}
	/* end headers */
	/* text blocks */
	p{margin-bottom: 1.25em; text-align: justify;}
	/* end text blocks */
	/* text */
	strong, b{font-weight: bold;}
	em{font-style: italic;}
	/* end text */
	/* links */
	a{color: #545454; text-decoration: none;}
	a:hover{color: #fefefe;}
	/* end links */
/*end base css */

/* grid */
.container{width: $total-width; margin: 0 auto; position: relative;}
.row{overflow: hidden; margin: 1.25em 0;}
  .c1 .row, .c2 .row, .c3 .row, .c4 .row, .c5 .row, .c6 .row,
  .c7 .row, .c8 .row, .c9 .row, .c10 .row, .c11 .row, .c12 .row{margin: 0  #{-$gutter-width};}
  .row-2-center{overflow: hidden; margin: 0 160px;}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12{margin: 0 $gutter-width; float: left;}
@for $i from 1 through 12{
  .c#{$i}{
    width: $i * $grid-width + ($i - 1) * $gutter-width * 2;
  }
}
.fix-m-l{margin-left: 0;}
.fix-m-r{margin-right: 0;}
	
.sl1{margin: 0 $gutter-width 0 ($gutter-width * 3) + $grid-width;}
.sr1{margin: 0 #{($gutter-width * 3) + $grid-width} 0 $gutter-width;}
/* end grid */

/* header */
header{
  height:99px; border-bottom: 1px solid #545454;
  // main nav area
  nav{
    .main-logo{margin-top: 36px; float: left; line-height: 0;}
    .main-nav{
      float: right; margin-top: 80px;
      
      li{
        float: left; margin-left: 20px;
        
        a{font-size: 1.167em; padding-left: 24px; background: url(images/sprites/sprite-icos-menu.png) no-repeat;}
        &.blog{
          a{background-position: 0 0;}
          &.active, &:hover{
            a{background-position: 0 -21px;}
          }
        }
        &.galeries{
          a{background-position: 0 -42px;}
          &.active, &:hover{
            a{background-position: 0 -63px;}
          }
        }
        &.contact{
          a{background-position: 0 -84px;}
          &.active, &:hover{
            a{background-position: 0 -105px;}
          }
        }
      }
    }
  }
  // end main nav area
}	
/* end header */

/* main */
.main{}
/* end main */

/* footer */
footer{
  padding-top: 1.25em; border-top: 1px solid #545454;
  
  .site-map{
    .fix-m-r{padding-top: 1.533em;}
    li{
      margin-bottom: 0.2em;
      
      strong{font-size: 1.083em;}
    }
  }
  .copyright{margin: 2.5em 170px; font-size: 0.917em;}
}
/* end footer */

/* forms  */
input{
  &[type=text], &[type=password], &[type=email]{
    border:1px solid #303030; padding: 3px; background: #545454; color: #fff;
    @include rounded(3px);
  
    &:focus{border-color: #545454; background: #303030;}
  }
  &[type=submit]{
    cursor: pointer;
  }
  &.btn-grey-round{float: right;}
}
.form-fields{
  .row{margin-bottom: 0.625em;}
  .btn-grey-round{margin-right: 72px;}
}
.field_with_errors{
  position: relative;
  
  .message{
    float: right; color: #a33;
  }
  input{
    &[type=text], &[type=password], &[type=email]{
      border-color: #a33;
    }
  }
}
/* emd forms */

/* btns */
.btn-grey-round{
  color: #ddd; background: #303030; border: 1px solid #545454; padding: 0 15px;
  @include rounded(3px);
  
  &:hover{color: #fff; background: #545454; border-color: #303030;}
  &:focus{color: #fff; border-color: #303030;}
}
/* end btns */