@import "css3mixin";

/* homepage */
.intro-section{padding-top: 1.25em; border-top: 1px solid #545454;}

.intro-article{
  .btn-grey-round{float: right;}
}
	/* featured-galeries */
	.featured-galeries figure{
	  position: relative; overflow: hidden; line-height: 0;
	    
	  a{color: #fff;}
	  
	  .slide-info{
	    line-height: 1; position: absolute; bottom: -50px; width: 100%; padding: 5px 0; background:rgba(0, 0, 0, .7);
	    @include animated(bottom);
	    
	    h4{margin-bottom: 0; padding: 0 5px 3px; font-size: 1.2em; font-weight: normal; font-variant: small-caps;}
	    .galery-picks{margin-left: 5px; padding: 0 5px 0 15px; font-size: 0.917em; background: url(images/icos/ico-camara-small.png) no-repeat 0 1px;}
	  }
	  &:hover{
	    .slide-info{bottom: 0;}
	  }
	}
	/* end featured-galeries */
/* end homepage */